@model WorktimeRegister.Models.Worktimes

@{
    ViewBag.Title = "Set Worktime";
}

<h2>Arrive</h2>

@using (Html.BeginForm("Create","Worktime"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <!--I need just a button, because the properties vill be generated, and given by the user-->
    <fieldset>
        <legend>Arrive</legend>
        <p>
            <input type="submit" value="Arrive" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "SearchWorktime")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
