@{
    ViewBag.Title = "Set Worktimes";
}

<h2>Set Worktimes</h2>

    <fieldset>
        <legend>Set Worktimes</legend>
        <p>
            <input type="submit" value="Arrive" />
        </p>
    </fieldset>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

