@model DateTime

@{
    ViewBag.Title = "Export";
}

<h2>Export Excel files</h2>

@using (@Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    @Html.DropDownList("DropDownYear", Enumerable.Range( Model.Year , 10).Select(x => new SelectListItem { Text = x.ToString() }))
    @Html.DropDownList("DropDownMonth", Enumerable.Range(1, 12).Select(x => new SelectListItem { Text = x.ToString() }))

    <input type="submit" value="Export" />
}