
    <p>Date: <input type="text" id="datepicker"></p>


@section Scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/uiscripts")
    }