@model IEnumerable<WorktimeRegister.Models.Worktimes>

@{
    ViewBag.Title = "Home Page";
}

@foreach (var item in Model)
{
    <div>
        <h4>@item.Date.ToString("yyy.MM.dd")</h4>
        <div>@item.Arrival, @item.Leaving</div>
        <hr />
    </div>
}